{{- $href := .Destination -}}
{{- $isExternal := or (hasPrefix $href "http://") (hasPrefix $href "https://") (hasPrefix $href "//") -}}
{{- $isAff := and $isExternal (or (in $href "amzn.to") (in $href "amazon.co.jp")
                 (in $href "rakuten") (in $href "valuecommerce.com")
                 (in $href "ck.jp.ap.valuecommerce.com")) -}}
{{- $rel := slice -}}
{{- if $isExternal }}
  {{- $rel = $rel | append "noopener" | append "noreferrer" -}}
{{- end -}}
{{- if $isAff }}
  {{- $rel = $rel | append "nofollow" | append "sponsored" -}}
{{- end -}}
{{- $rel = uniq $rel -}}
<a href="{{ .Destination }}"
   {{ with .Title }}title="{{ . }}"{{ end }}
   {{ if $isExternal }}target="_blank"{{ end }}
   {{ if gt (len $rel) 0 }}rel="{{ delimit $rel " " }}"{{ end }}>{{ .Text }}</a>
