{{- $href := .Destination -}}
{{- $isExternal := or (hasPrefix $href "http://") (hasPrefix $href "https://") (hasPrefix $href "//") -}}

{{- /* Fix root-relative internal links for GitHub Pages (baseURL subpath) */ -}}
{{- if not $isExternal -}}
{{- $u := urls.Parse $href -}}
{{- $base := urls.Parse site.BaseURL -}}
{{- $basePath := $base.Path | strings.TrimSuffix "/" -}}
{{- if and (eq $u.Scheme "") (eq $u.Host "") (hasPrefix $u.Path "/") -}}
{{- if not (and $basePath (ne $basePath "/") (hasPrefix $u.Path $basePath)) -}}
{{- $path := $u.Path | strings.TrimPrefix "/" | relURL -}}
{{- $href = $path -}}
{{- with $u.RawQuery }}{{- $href = printf "%s?%s" $href . -}}{{- end -}}
{{- with $u.Fragment }}{{- $href = printf "%s#%s" $href . -}}{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}

{{- /* Affiliate tagging */ -}}
{{- $amazonTag := .Page.Site.Params.amazonTag -}}
{{- $rakutenId := .Page.Site.Params.rakutenAffiliateId -}}

{{- $isAmazon := and $isExternal (in $href "amazon.co.jp") -}}
{{- if and $isAmazon $amazonTag (not (in $href "tag=")) -}}
{{- $sep := cond (in $href "?") "&" "?" -}}
{{- $href = printf "%s%stag=%s" $href $sep $amazonTag -}}
{{- end -}}

{{- $isRakuten := and $isExternal (or (in $href "rakuten.co.jp") (in $href "rakuten.com")) -}}
{{- if and $isRakuten $rakutenId (not (hasPrefix $href "https://hb.afl.rakuten.co.jp/")) -}}
{{- $encoded := urlquery $href -}}
{{- $href = printf "https://hb.afl.rakuten.co.jp/hgc/%s/?pc=%s&m=%s" $rakutenId $encoded $encoded -}}
{{- end -}}

{{- $isAff := and $isExternal (or (in $href "amzn.to") (in $href "amazon.co.jp")
(in $href "rakuten") (in $href "valuecommerce.com")
(in $href "ck.jp.ap.valuecommerce.com") (hasPrefix $href "https://hb.afl.rakuten.co.jp/")) -}}
{{- $rel := slice -}}
{{- if $isExternal }}
{{- $rel = $rel | append "noopener" | append "noreferrer" -}}
{{- end -}}
{{- if $isAff }}
{{- $rel = $rel | append "nofollow" | append "sponsored" -}}
{{- end -}}
{{- $rel = uniq $rel -}}
<a href="{{ $href }}" {{ with .Title }}title="{{ . }}" {{ end }} {{ if $isExternal }}target="_blank" {{ end }} {{ if gt
  (len $rel) 0 }}rel="{{ delimit $rel " " }}" {{ end }}>{{ .Text }}</a>