{{- $rakutenId := or .Site.Params.rakutenAffiliateId (getenv "RAKUTEN_AFFILIATE_ID") "0d1b5972.6cd44226.0d1b5973.40a5c49e" -}}
<div class="rakuten-widget" role="complementary" aria-label="おすすめ商品">
  <div class="rakuten-widget__variant rakuten-widget__variant--pc">
    <script type="text/javascript">
      rakuten_design="slide";
      rakuten_affiliateId="{{ $rakutenId }}";
      rakuten_items="ctsmatch";
      rakuten_genreId="0";
      rakuten_size="600x200";
      rakuten_target="_blank";
      rakuten_theme="gray";
      rakuten_border="off";
      rakuten_auto_mode="on";
      rakuten_genre_title="off";
      rakuten_recommend="on";
      rakuten_ts="1762408888363";
    </script>
    <script type="text/javascript" src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js?20230106"></script>
  </div>

  <div class="rakuten-widget__variant rakuten-widget__variant--sp">
    <script type="text/javascript">
      rakuten_design="slide";
      rakuten_affiliateId="{{ $rakutenId }}";
      rakuten_items="ctsmatch";
      rakuten_genreId="0";
      rakuten_size="300x160";
      rakuten_target="_blank";
      rakuten_theme="gray";
      rakuten_border="off";
      rakuten_auto_mode="on";
      rakuten_genre_title="off";
      rakuten_recommend="on";
      rakuten_ts="1762408934837";
    </script>
    <script type="text/javascript" src="https://xml.affiliate.rakuten.co.jp/widget/js/rakuten_widget.js?20230106"></script>
  </div>
</div>
